<section>

  <div class="card" id="buscar">


    <div class="card-header">
      <h4 class="float-left heading h4-responsive mb-0">Buscar</h4>
    </div>


    <div class="card-body">
      <div class="row local-selects">

        <div class="col-12 col-md-4">


          <div class="md-form">
            
                  <mat-form-field class="w-100 custom-outline" disabled="disabled">
                    <mat-label >Sede</mat-label>
                    <mat-select [(ngModel)]="selected">
                      <mat-option *ngFor="let sede of lstSede" [value]="sede.codigo">
                        {{ sede.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            
          </div>
        </div>



        <div class="col-12 d-flex justify-content-end">

          <div class="md-form">
            <button id="btnBuscar" [disabled]="!selected" class="btn btn-default waves-effect waves-light"
              (click)="onClickBtn()">
              <span>Buscar</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>