<!-- Sección de Búsqueda de Sede -->
<div class="p-2">
  <div class="border-bottom pb-2">
    <div class="d-flex justify-content-end">
      <!-- Botón para buscar sede -->
      <button [routerLink]="['']" class="btn btn-secondary">
        Buscar Sede
      </button>
    </div>
  </div>
</div>

<!-- Componente de Tabs -->
<div class="tab">
  <mat-tab-group animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
    <div class="m-2">
      <!-- Tab de Año y Sede -->
      <mat-tab label="Periodo Actual - {{ periodoDescripcion }}">
        <ng-template matTabContent>
          <!-- Contenido dinámico para esta tab -->
        </ng-template>
      </mat-tab>

      <!-- Tab de Otros Periodos -->
      <mat-tab label="Otros Periodos">
        <ng-template matTabContent>
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un periodo</mat-label>
            <mat-select [(value)]="selectedPeriodo" (selectionChange)="onPeriodoChange()">
              <mat-option *ngFor="let periodo of lstPeriodos" [value]="periodo.codigo">
                {{ periodo.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>

<!-- Tabla con los datos filtrados -->
<mat-form-field class="custom-width" style="padding: 10px;">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Mañana" #input />
</mat-form-field>

<div class="mat-elevation-z8 p-5">
  <table mat-table [dataSource]="dataSource" matSort  class="table">
    <!-- Columna HORA_CCOD -->
    <ng-container matColumnDef="Hora_Ccod">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription = "Ordenar por Código">Hora Código</th>
      <td mat-cell *matCellDef="let row">{{ row.hora_ccod }}</td>
    </ng-container>

    <!-- Columna HORA_HINICIO -->
    <ng-container matColumnDef="Hora_Hinicio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription = "Ordenar por Hora Inicio">Hora Inicio</th>
      <td mat-cell *matCellDef="let row">{{ row.hora_hinicio }}</td>
    </ng-container>

    <!-- Columna HORA_HTERMINO -->
    <ng-container matColumnDef="Hora_Htermino">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription = "Ordenar por Hora Término">Hora Término</th>
      <td mat-cell *matCellDef="let row">{{ row.hora_htermino }}</td>
    </ng-container>

    <!-- Columna TURN_TDESC -->
    <ng-container matColumnDef="Turn_Tdesc" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription = "Ordenar por Turno">Turno</th>
      <td mat-cell *matCellDef="let row">{{ row.turn_tdesc }}</td>
    </ng-container>

    <!-- Columna AUDI_TUSUARIO -->
    <ng-container matColumnDef="Audi_Tusuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription = "Ordenar por Usuario">Última Modificación</th>
      <td mat-cell *matCellDef="let row">{{ row.audi_tusuario }}</td>
    </ng-container>

    <!-- Columna Acción -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef >Acción</th>
      <td mat-cell *matCellDef="let row; let i = $index">
        <a class="mat-raised-button" color="primary" (click)="btnEditar(row.hora_ccod)">Editar</a>
        <a> / </a>
        <a class="mat-raised-button" color="primary" (click)="btnEliminar(row)">Eliminar</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSize]="5" [length]="dataSource.data.length" [pageSizeOptions]="[20, 50, 100]" aria-label="Seleccionar Página"></mat-paginator>
</div>
