.logo-inacap {
  width: 150px;
  height: auto;
}

@media (max-width: 768px) {
  .logo-inacap {
    width: 100px;
  }
}

@media (max-width: 576px) {
  .logo-inacap {
    width: 50px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  border-top: 6px solid #c00;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.colab {
  font-size: 1rem;
}

.material-icons:hover {
  cursor: alias;
  border-radius: 10px;
  background-color: rgba(119, 39, 39, 0.205);
  padding: 5px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@media (max-width: 576px) {
  .user-section {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }
}

.notification-point {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
}

.user-button {
  position: relative;
  margin-left: 15px;
}

.example-container {
  height: 100vh;
}

.example-sidenav {
  width: 250px;
}

.menu-button {
  display: none;
}

@media (max-width: 576px) {
  .user-section {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }
}
